{{ ansible_managed | comment('plain', prefix='#################################', postfix='#################################') }}
---
## Log prospectors
filebeat.prospectors:
  {{ filebeat_prospectors | to_yaml | indent(2) }}


## Output configuration
output:
  {{ filebeat_output | to_yaml | indent(2) }}


{% if filebeat_general_config | length > 0 %}
## General configuration
{{ filebeat_general_config | to_yaml | indent(2) }}
{% endif %}

filebeat.config.modules:
  enabled: true
  path: ${path.config}/modules.d/*.yml
